* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right top, #a8bdde, #97c2e6, #82c8eb, #69ceec, #4dd3e8);
    height: 100vh;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,
.obicnoP {
    text-align: center;
    color: white;
    margin: auto;
    padding: 5px;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

#container1 {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    perspective: 1000px;
}

.kartica {
    position: relative;
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.kartica:active,
button:active {
    transform: scale(.97);
    transition: transfrom .2s;
}

.kartica.flip {
    transform: rotateY(180deg);
}

.napred,
.nazad {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
}

.nazad {
    transform: rotateY(180deg);
}

#newgame {
    height: 30px;
    width: 490px;
    background: white;
    color: rgba(33, 101, 189, 0.863);
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: 700;
}

.obicnoP {
    font-weight: 700px;
    font-size: 1.4em;
    margin: 0;
    padding: 0;
}

#modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-wrap: wrap;
}

.modal-content {
    background-color: darkgray;
    color: white;
    margin: 15% auto;
    padding: 20px;
    width: 40%;
    height: 15%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 5px;
}

#modalBtn {
    background-image: linear-gradient(to right top, #a8bdde, #97c2e6, #82c8eb, #69ceec, #4dd3e8);
    color: white;
    padding: 10px 20px;
    border: 0;
    float: right;
    margin-top: 8px;
    font-weight: 700;
    font-size: 1.1em;
    border-radius: 5%;
}